.game {
  display: none; // display: grid;
  padding-top: var(--spacer-400);
  padding-bottom: var(--spacer-400);
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "score"
    "categories"
    "player"
    "answers"
    "description"
    "button";
  gap: var(--spacer-500);
  align-items: start;

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "score score"
    "categories categories"
    "player player"
    "answers description"
    "button button";
  }

  &--show {
    display: grid;
  }
}

.game__score {
  grid-area: score;
  justify-self: end;
}

.game__categories {
  background-color: var(--clr-default);
  grid-area: categories;
}

.game__song-question {
  background-color: var(--clr-default);

  grid-area: player;
}

.game__answers {
  background-color: var(--clr-default);

  grid-area: answers;
}

.game__description {
  background-color: var(--clr-default);

  grid-area: description;
}

.game__continue-button {
  grid-area: button;
}
