.header {
  border-bottom: 2px solid var(--clr-border);
}

.header__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: var(--spacer-400) 0;
  text-transform: uppercase;
}

.header__score {
  padding: var(--spacer-400) 0;
  display: none;
}
