.nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacer-400);
  list-style: none;
}

.nav__item {
  font-family: var(--ff-title);
  font-size: var(--fs-600);
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &--game {
    color: var(--clr-primary);
  }

  &--result {
    color: var(--clr-success);
  }

  &--jukebox {
    color: var(--clr-jukebox);
  }

  &--is-disabled {
    color: var(--clr-disabled);

    &:hover {
      opacity: 1;
    }
  }
}
