.result {
  display: none;
  min-height: 80vh;
  justify-items: center;
  gap: var(--spacer-500);
  text-align: center;
  align-items: center;

  &--show {
    display: grid;
  }
}

.result__score {
  grid-column: 1 / -1;
}

.result__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--spacer-500);
}
