.score {
  font-size: var(--fs-600);
  font-family: var(--ff-title);
  text-transform: uppercase;

  &--is-final {
    font-size: var(--fs-700);

    & .score__value {
      display: block;
      text-align: center;
    }
  }
}

.score__value {
  text-transform: uppercase;
}
