@font-face {
  font-family: 'Undertale Battle';
  src: url('/src/fonts/undertale-battle-font-webfont.woff2') format('woff2'),
  url('/src/fonts/undertale-battle-font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Upheaval';
  src: url('/src/fonts/upheavtt-webfont.woff2') format('woff2'),
  url('/src/fonts/upheavtt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
